
.unsaved/.user/Metadata/Asset/{2dfded11-f080-49ba-a389-508e2d65dd80}.user.xml
.unsaved/.user/Metadata/Mixer.user.xml
.unsaved/.user/Metadata/Workspace.user.xml
.cache/{e53ac3a6-f897-4910-80c5-2cd8cc1709ed}.pdc
.cache/{1c819c6d-8d71-45fe-94ae-9814b5f98da2}.pdc
.cache/fsbcache/Desktop/AAA50817.fobj
.cache/fsbcache/Desktop/2902E337.fobj
